# Unity 자동 생성 폴더
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# IDE
.vs/
.idea/
.vscode/

# Visual Studio / Rider
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# 운영체제
.DS_Store
Thumbs.db

# Unity 충돌·로그
sysinfo.txt
*.log

# 빌드 파일
*.apk
*.aab
*.unitypackage

# Blender 임시 백업
*.blend1
*.blend1.meta